.nav-container {
  width: 100%;
  height: 80px;
}

nav {
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

nav ul {
  float: right;
  margin-top: 20px;
}

h1 {
  margin-right: 100px;
}


/*.main-text-container {
  width: 100%;
  height: 500px;
  background-image: url('../img/slider.jpg');
  background-size: cover;
  background-color: gray;
  display: flex;
  align-items: center;
  color: black;
}*/

h2 {
  text-align: center;
}

.main-text-container p {
  text-align: center;
}
